 :root {
    --colour-main:#c781c8;
    --colour-secondary:hsl(36, 10%, 10%);
    --colour-teritary:#f0f0f0;

    --spacing-small:8px;
    --spacing-medium:16px;
    --spacing-large:24px;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.header__page-title{
     color: var(--colour-main);
     font-size: 4rem;
     margin: 0;
     text-align: center;
}

.animal-tabs {
    background-color: var(--colour-main);
    display: flex;
    justify-content: space-evenly;
    padding: var(--spacing-small) var(--spacing-large);

}

.tab {
    background-color: var(--colour-tertiary);
    border-radius: 10px;
    color: var(--colour-secondary);
    font-weight: 700;
    padding: var(--spacing-small) var(--spacing-base);
} 
.active {
    background-color: var(--colour-main);
    color: var(--colour-teritary);
}

.content {
    display: none;
    border-radius: 10px;
    margin: var(--spacing-base);
}

.featured {
    display: block;
}

.search-field {
    color: var(--colour-main);
    padding: var(--spacing-base);
    text-align: center;
}

.search-field input {
    border-color: var(--colour-main);
    border-radius: 10px;
    padding: 8px;
    
}